section.about#about
  img(src="images/about-animate.png", alt="img", class="anime", data-aos="fade-left")
  img(src="images/about-triangle.png", alt="img", class="triangle")
  .container
    .about-fl
      .info(data-aos="fade-right")     
        include lines 
        h2.section-title 
          span О 
          | компании “Электромонтаж сервис”
        .image-mob
          img(src="images/about2.jpg", alt="img")
          img(src="images/about1.jpg", alt="img")
        .text 
          p Наша компания предоставляет полный комплекс услуг по построению и автоматизации технологических процессов и созданию АСУ ТП. 
          p Мы с радостью готовы взяться за ведение Вашего объекта в комплексе: от помощи в получении технических условий до полной реализации проекта до сдачи. 
          p К вашим услугам качественный сервис на всех этапах работы, профессионализм и стремление к идеальному результату со стороны каждого нашего специалиста.
          p Имеем все необходимые разрешительные документы для работ, с которыми Вы можете ознакомиться в данном разделе.
        .btns
          a.btn.btn-blue(href="#", data-toggle="modal", data-target="#myModal") связаться с нами
            img(src="images/arrow.svg", alt="arrow")
            span.clip
          <!--a(href="#serts").btn.btn-underline смотреть сертификаты-->     
      .image(data-aos="fade-left")
        img(src="images/about1.jpg", alt="img")
        img(src="images/about2.jpg", alt="img")
