section.banner 
  .container
    .banner-info 
      include lines
      h1.upper Обслуживание электрических систем от 
        span 1 000 до 35 000 кВА 
        | по всему Казахстану
      h4 Качество, проверенное годами
      a.btn.btn-blue(href="#", data-toggle="modal", data-target="#myModal") Оставить заявку
        img(src="images/arrow.svg", alt="arrow")
        span.clip