header.header 
  .container
    .header-fl 
      a(href="/").logo 
        img(src="images/logo.svg", alt="logo") 
      ul.menu
        li
          a(href="#services") Услуги 
        li
          a(href="#about") О компании
        <!--li
          a(href="#serts") Отзывы-->
        li
          a(href="#contacts") Контакты
      .header-contacts
        a(href="mailto:info@e-montazh.kz", target="_blank")
          span info
          |@e-montazh.kz
        a(href="tel:+7 (771) 888 8992")
          span +7 (771) 
          | 888 8992
      .toggle-btn 
        span.one  
        span.two  
        span.three     
      .mob-menu 
        ul.menu
          li
            a(href="#services") Услуги 
          li
            a(href="#about") О компании
          li
            a(href="#serts") Отзывы
          li
            a(href="#contacts") Контакты
        .header-contacts
          a(href="mailto:info@e-montazh.kz", target="_blank")
            span info
            |@e-montazh.kz
          a(href="tel:+7 (771) 888 8992")
            span +7 (771) 
            | 888 8992

