section.help(data-aos="fade-up") 
  .container
    include lines 
    h2.section-title 
      span П
      |омогаем с подбором  
      br 
      |и поставками оборудования
    h4 Мы являемся прямым партнером производителей оборудования, благодаря чему Вы можете рассчитывать на качественное оборудование без лишних наценок.  
    <div class="swiper mySwiper products-swiper">
      <div div class="swiper-button-next swiper-arrow">
        img(src="images/next-arrow.svg", alt="arrow")
      </div>
      <div class="swiper-button-prev swiper-arrow">
        img(src="images/prev-arrow.svg", alt="arrow")
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          .image 
            img(src="images/prod1.png", alt="prod")
          a(href="#", data-toggle="modal", data-target="#myModal").link
            h4 Распределительные 
              br 
              |панели
            include prod-arrow
        </div>
        <div class="swiper-slide">
          .image
            img(src="images/prod2.png", alt="prod")
          a(href="#", data-toggle="modal", data-target="#myModal").link
            h4 Низковольтная аппаратура
            include prod-arrow
        </div>
        <div class="swiper-slide">
          .image 
            img(src="images/prod3.png", alt="prod")
          a(href="#", data-toggle="modal", data-target="#myModal").link
            h4 Металлоконструкции
              br 
              |ЛЭП
            include prod-arrow
        </div>
        <div class="swiper-slide">
          .image 
            img(src="images/prod4.png", alt="prod")
          a(href="#", data-toggle="modal", data-target="#myModal").link
            h4 Камеры КСО, КРУ
              br 
              br 
            include prod-arrow
        </div>
        <div class="swiper-slide">
          .image 
            img(src="images/prod5.png", alt="prod")
          a(href="#", data-toggle="modal", data-target="#myModal").link
            h4 высоковольтная 
              br 
              |аппаратура
            include prod-arrow
        </div>
        <div class="swiper-slide">
          .image 
            img(src="images/prod6.png", alt="prod")
          a(href="#", data-toggle="modal", data-target="#myModal").link
            h4 Силовые 
              br 
              |трансформаторы
            include prod-arrow
        </div>
        <div class="swiper-slide">
          .image 
            img(src="images/prod7.png", alt="prod")
          a(href="#", data-toggle="modal", data-target="#myModal").link
            h4 Трансформаторные  
              br 
              |подстанции
            include prod-arrow
        </div>
        <div class="swiper-slide">
          .image 
            img(src="images/prod8.png", alt="prod")
          a(href="#", data-toggle="modal", data-target="#myModal").link
            h4 все виды   
              br 
              |Кабелей
            include prod-arrow
        </div>
      </div>
    </div>
    .partners 
      .title(data-aos="fade-right") 
        include lines 
        h2.section-title 
          span с
          |отрудничаем 
          br 
          |с компаниями: 
      .partners-bl(data-aos="fade-left") 
        .item   
           img(src="images/partn1.png", alt="img")
        .item   
           img(src="images/partn2.png", alt="img")
        .item   
           img(src="images/partn3.png", alt="img")         