section(data-aos="fade-up").letters#serts  
  .container 
    include lines 
    h2.section-title 
      span Б
      |лагодарственные   
      br 
      |письма клиентов
    <div class="swiper serts-slider">
      <div div class="swiper-button-next swiper-arrow">
        img(src="images/next-arrow.svg", alt="arrow")
      </div>
      <div class="swiper-button-prev swiper-arrow">
        img(src="images/prev-arrow.svg", alt="arrow")
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          img(src="images/sert.jpg", alt="sert")
        </div>
        <div class="swiper-slide">
          img(src="images/sert.jpg", alt="sert")
        </div>
        <div class="swiper-slide">
          img(src="images/sert.jpg", alt="sert")
        </div>
        <div class="swiper-slide">
          img(src="images/sert.jpg", alt="sert")
        </div>
      </div>
    </div>  