section.why
  .container
    .why-block(data-aos="fade-up")  
      include lines 
      h2.section-title 
        span П
        |очему клиенты выбирают нас
      .why-block-fl
        .item 
          img(src="images/item1.svg", alt="img")
          .item-info 
            h4 СОБЛЮДЕНИЕ СРОКОВ  
            p Работаем над проектами под ключ, в наших интересах соблюдения сроков на каждом этапе. Для этой цели мы смогли оптимизировать рабочие процессы с сохранением качества и безопасности работ.
        .item 
          img(src="images/item2.svg", alt="img")
          .item-info 
            h4 Гарантия качества  
            p Берем ответственность за результаты наших работ и гарантируем качество на долгие годы. В случае необходимости, экстренно выезжаем на объект и помогаем в решение поставленных задач. 
        .item 
          img(src="images/item3.svg", alt="img")
          .item-info 
            h4 опыт и профессионализм  
            p Уже более 10 лет наша команда занимается услугами в сфере электроэнергетики и достигла высокого уровня профессионализма, а также заключила договорные отношения с лучшими поставщиками.
        .item 
          img(src="images/item4.svg", alt="img")
          .item-info 
            h4 Забота о каждом клиенте 
            p Работаем как с физическими лицами, так и с производственными, строительными компаниями, заводами и АЖК. К каждому проекту мы подходим основательно и находим оптимальные решения.            
    
