section.works
  img(src="images/works.png", alt="img", class="works-img", data-aos="fade-right")   
  .container  
    .works-fl 
      .title(data-aos="fade-right") 
        include lines 
        h2.section-title 
          span П
          |римеры работ
      <div class="panel-group" id="accordion2" data-aos="fade-left">
        <div class="panel panel-default active">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#col1" data-value="serv1">ТОО “Электрокомплект”</a>
              img(src="images/down-arrow.svg", alt="arrow")
            </h4>
          </div>
          <div id="col1" class="panel-collapse collapse in">
            <div class="panel-body"> 
              ul 
                li оказываем помощь в получении технических условий в АЖК;
                li рассчитываем стоимость работ и консультируем на всех этапах;
                li  помогаем в подборе нужного оборудования.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#col2" data-value="serv2">ТОО “Электрокомплект”</a>
              img(src="images/down-arrow.svg", alt="arrow")
            </h4>
          </div>
          <div id="col2" class="panel-collapse collapse">
            <div class="panel-body">Проектируем системы в соответствие с требованиями государственных организаций и вашими пожеланиями. У нас работают инженеры со стажем работы от 7 лет. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#col3" data-value="serv3">ТОО “Электрокомплект”</a>
              img(src="images/down-arrow.svg", alt="arrow")
            </h4>
          </div>
          <div id="col3" class="panel-collapse collapse">
            <div class="panel-body">Помогаем с поставками всего необходимого оборудования напрямую от производителя. Смотреть список</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#col4" data-value="serv4">ТОО “Электрокомплект”</a>
              img(src="images/down-arrow.svg", alt="arrow")
            </h4>
          </div>
          <div id="col4" class="panel-collapse collapse">
            <div class="panel-body">
              ul 
               li монтаж трансформаторных подстанций;
               li пуско-наладочные работы;
               li прокладка и реконструкция кабелей;
               li сборка и установка КЯ, ГРЩ, ВРУ, ЩО;
               li прочее.
            </div>
          </div>
        </div>
      </div>     