doctype
html(lang='en')
  include html/head
  body
    include html/header
    main.page
      a(href="https://api.whatsapp.com/send?phone=77718888992&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5,%20%D1%8F%20%D1%85%D0%BE%D1%87%D1%83%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D0%BA%D0%BE%D0%BD%D1%81%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%86%D0%B8%D1%8E").whatsapp
        img(src="images/whatsapp-green.svg", alt="icon") 
      a(href="tel:+7 (771) 888 8992").phone-blue  
        img(src="images/phone-blue.svg", alt="phone") 
      include html/banner
      include html/services
      include html/about
      include html/why
      include html/works
      include html/help
      include html/letters
      include html/contacts
   
    include html/footer

    

