doctype
html(lang='en')
  include html/head
  body
    include html/header
    main.page 
    h1 Привет Оркен !
    img(src="@img/bahandi-sm.png", alt="img")
    span span
    include html/footer
    script(src="js/app.min.js")

