doctype
html(lang='en')
  include html/head
  body
    include html/header
    main.thanks
      section.thanks-banner 
        .container 
          include html/lines 
          h2.section-title 
            span С
            |пасибо
          h4 Ваша заявка принята. В течение 20 минут
            br 
            |  мы вам перезвоним!  
          a.btn.btn-blue(href="/") 
            img(src="images/arrow.svg", alt="arrow")
            span.clip 
            |Вернуться назад


            

   
    include html/footer

    

