@font-face {
	font-family: 'Als Sirius';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local(''),
	url("../font/ALS_Sirius_Black.woff2") format("woff2"),
	url("../font/ALS_Sirius_Black.woff") format("woff");
}
@font-face {
	font-family: 'Als Sirius';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("../font/ALS_Sirius_Medium.woff2") format("woff2"),
	url("../font/ALS_Sirius_Medium.woff") format("woff");
}
